
<table style="width: 100%">
    <div id="">
      {% for i in messages %}
      <tr style="width: 100%; border: 5px solid transparent">
        {% if i.writer.user == request.user %}
        <!-- if player or opp -->
        <td style="
              float: right;
              border: #04767c 2px solid;
              border-radius: 14px 14px 0 0;
              background-color: #42454a;
              max-width: 80%;
            ">
          <h6 class="text-white text-end" style="
                padding: 5px 10px 5px;
                background-color: #04767c;
                border-radius: 10px 10px 0 0;
              ">
            &emsp;&emsp;{{i.writer}}<a style="float: left; color: #1a484a"
              href="{% url 'msgdelete' id=i.reader.id pk=i.id %}"><i class="fa-solid fa-trash zhov-white"></i></a>
          </h6>

          {% else %}
        </td>

        <td style="
              float: left;
              border: #479093 2px solid;
              border-radius: 14px 14px 0 0;
              background-color: #42454a;
              max-width: 80%;
            ">
          <h6 class="text-white" style="
                padding: 5px 10px 5px;
                background-color: #479093;
                border-radius: 10px 10px 0 0;
              ">
            {{i.writer}}&emsp;&emsp;
          </h6>

          {% endif %}
          <div style="padding: 0 10px 0" class="zcontain">
            {% if i.image %}
            <!-- if image or text -->
            <img src="{% static i.image %}" style="height: 200px; width: auto" alt="" />
            <p class="text-white">{{i.text}}</p>
            {% else %}
            <p class="text-white">{{i.text}}</p>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </div>
  </table>